[submodule "CascLib"]
	path = CascLib
	url = https://github.com/Marlamin/CascLib
[submodule "DBCD"]
	path = DBCD
	url = https://github.com/wowdev/DBCD
[submodule "DBDiffer"]
	path = DBDiffer
	url = https://github.com/Marlamin/DBDiffer
[submodule "SereniaBLPLib"]
	path = SereniaBLPLib
	url = https://github.com/Marlamin/SereniaBLPLib
[submodule "WoWFormatLib"]
	path = WoWFormatLib
	url = https://github.com/Marlamin/WoWFormatLib
[submodule "WoWNamingLib"]
	path = WoWNamingLib
	url = https://github.com/Marlamin/WoWNamingLib
[submodule "TACTSharp"]
	path = TACTSharp
	url = https://github.com/Marlamin/TACTSharp
