#files tr td:nth-child(2){
    font-family: monospace;
    text-overflow: ellipsis;
}

#files_buttons.notree{
    left: 225px;
}

#files_buttons.tree{
	left: 440px;
}

#files_preview{
	display: none;
	width: 42%;
	float: right;
	padding-left: 15px;
}

.modal-body table.table td{
	padding: 5px;
}

#moreInfoModal{
	-webkit-overflow-scrolling: touch;
}

#files_tree{
	width: 220px;
	max-width: 220px;
	height: calc(100vh - 146px);
	max-height: calc(100vh - 146px);
	white-space: nowrap;
	float: left;
	overflow: auto;
	display: block;
}

#files_treetoggle{
	width: 15px;
	max-width: 15px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	line-height: calc(100vh - 146px);
	border: 1px solid var(--border-color);
	height: calc(100vh - 156px);
	max-height: calc(100vh - 156px);
	float: left;
	margin-right: 10px;
}

#files_treetoggle.collapsed{
	margin-left: -10px;
}

#files_treetoggle.hidden{
	display: none;
}

#treeFilter{
	position: absolute;
	top: 75px;
}

.treeEntry{
	margin-left: 10px;
	cursor: pointer;
}

.treeEntry.selected{
	background-color: #8bc34aa1 !important;
}
