/* Root styling */
html, body{
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

#mvTabs{
    height: calc(100% - 200px);
}

.tab-pane{
    height: 100%;
}

/* Canvas */
#wowcanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#fpsLabel {
    position: absolute;
    right: 0px;
    top: 60px;
    color: #999;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#eventLabel {
    position: absolute;
    right: 20px;
    top: 80px;
    color: #999;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#downloadLabel{
    position: absolute;
    right: 20px;
    top: 100px;
    color: #999;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; 
}
/* Menu */
.hamburger {
    position: absolute;
    cursor: pointer;
    top: 75px;
    left: 20px;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: rgba(183, 183, 183, 0.5);
    transition: background-color 0.1s ease;
    border-radius: 10%;
    outline: none;
    z-index: 2;
}

.hamburger:hover,
.hamburger:focus {
    background-color: var(--bs-body-bg);
}

.sidebar {
    top: 56px;
    left: 0;
    width: 500px;
    height: 100%;
    border-bottom-right-radius: 6px;
    border-right: 1px solid var(--border-color);
    padding-top: 10px;
    transition: left 0.3s ease-out;
}

.sidebar.closed {
    left: -500px;
}

.sidebar select {
    height: 32px;
    margin: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 1px solid #333;
}

.overlay{
    background-color: var(--bs-body-bg);
    position: absolute;
    z-index: 1;
    overflow: auto;
}

.model-control {
    top: 57px;
    right: 0;
    width: 450px;
    height: 100%;
    border-bottom-left-radius: 6px;
    border-left: 1px solid var(--border-color);
    padding-top: 10px;
    transition: right 0.3s ease-out;
}

.model-control.closed {
    right: -450px;
}

/* Controls */
.controls{
    bottom: 0;
    right: 0;
    width: 350px;
    height: auto;
    border-top-left-radius: 6px;
    transition: right 0.3s ease-out;
    background-color: transparent;
    text-align: right;
}

.controls.closed{
    right: -450px;
}

.controls select{
    background-color: var(--bs-body-bg);
    color: var(--bs-emphasis-color-rgb);
}

/* Files table */
/*#mvfiles_first{
    position: absolute;
    left: 15px;
}*/

#mvfiles_processing{
    background-color: var(--bs-body-bg);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}
/*
#mvfiles_previous{
    position: absolute;
    left: 80px;
}*/

/*.paginate_page{
    position: absolute;
    left: 180px;
}

.paginate_input{
    position: absolute;
    left: 220px;
}

.paginate_of{
    position: absolute;
    left: 275px;
}
*/
/*#mvfiles_next{
    position: absolute;
    left: 340px;
}

#mvfiles_last{
    position: absolute;
    left: 410px;
}
*/
#mvfiles_filter{
    float: none;
    margin-top: 15px;
    width: 450px;
}

#mvfiles_filter label{
    width: 100%;
}

#mvfiles_filter label input{
    width: 100%;
}

.dataTables_filter input{
    width: 390px !important;
}

.dataTables_filter select{
    width: 390px !important;
}

label{
    margin-bottom: 0px;
}

#mvfiles{
    top: 30px;
    left: 0px;
    margin: auto;
    font-size: 12px;
    border: 0px;
}

#mvfiles tbody tr:hover{
    background-color: #f1515138;
}

#mvfiles tbody tr td{
    padding: 0px;
    padding-top: 5px;
    padding-left: 5px;
    border: 0px;
}

#mvfiles thead th{
    padding: 5px;
    border: 0px;
    border-bottom: 1px solid var(--border-color);
}

.btn-mv{
    color: var(--bs-emphasis-color-rgb);
    background-color: var(--bs-body-bg);
}
.overlay input{
    background-color: var(--bs-body-bg);
    color: var(--bs-emphasis-color-rgb);
}

.historybutton:hover>.dropdown-menu {
    display: block;
}

.historybutton{
    font-size: 1rem;
    padding: 0px 5px 0px 5px;
    margin-right: 5px;
    background-color: transparent;
    border: 0px;
    color: var(--bs-emphasis-color-rgb);
}

.btn-secondary.disabled, .btn-secondary:disabled{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.30);
}

#mvfiles .dropdown-toggle::after{
    display: none;
}

.filedropdown{
    width: auto;
    font-size: 13px;
}

.table th{
    padding-left: 10px;
}

.table td:first{
    padding-left: 10px;
}

tr.selected{
    background-color: #8bc34aa1 !important;
}

/* Error window */
#errors{
    position: absolute;
    top: 70px;
    right: 15px;
    margin: auto;
}

#embeddedLogo{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.textureInput
{
  padding-left: 0.2em;
}

#textureForm label
{
  margin-left: 0.3em;
}

.textureInputDiv
{
  margin-bottom: 1px;
}

#textureFormSave
{
  margin-top: 1em;
}

.sscInputDiv
{
  margin: 5px 0;
}

.sscInputLabel
{
  width: 8%;
  font-weight: bold;
}

.sscInput
{
  width: 90%;
  padding: 2px 0 2px 5px;
}

#sscFormButton
{
  margin: 20px auto;
}

.nav-item#screenshotsTabItem
{
  max-width: fit-content;
}
