/* General */
html {
	height: 100%;
	box-sizing: border-box;
	font-size: 16px;
}

a{
	text-decoration: none;
}

select{
	width: 100%;
}

/* Navbar */
.navbar-nav a{
	font-weight: 400;
	text-align: center;
}

.navbar-brand {
	font-weight: 700;
	padding: 0px !important;
	margin-left: 10px;
}

.nav-tabs{
	border: 0px;
}

#updateDiv{
	font-style: italic;
	min-width: 120px;
}

#logo{
	position: relative;
}

#logo #cog{
	position: absolute;
	left: 26px;
	top: 7px;
	width: 22px;
	height: 22px;
	background-image: url('/img/cog.png');
	background-size: 22px;
}

#nocog span{
	font-size: 20px;
	vertical-align: bottom;
}

#nocog img{
	width: 30px;
	height: 30px;
	position: relative;
}

#nocog img:nth-child(2){
	margin-left: 15px;
}

.hash{
	min-width: 220px;
	font-size: 12px;
	font-family: monospace;
}

.table{
	font-size: 16px;
}

.table-sm td, .table-sm th{
	padding: 0.1rem;
}

.table-minimal tr th{
	padding: 5px;
}

.table-minimal tr td{
	padding: 0px;
}


.odd{
	background-color: rgba(0,0,0,.12);
}

.dropdown-menu{
	min-width: 8rem;
}

/* Site-wide datatable styles */
.dataTable thead th{
	padding: 5px;
	border: 0px;
}

.dataTable tr td{
	padding: 5px;
	border: 0px;
}

.dataTables_processing{
	border: 1px solid var(--border-color);
	border-radius: 10px;
}

#dt-search-0{
	width: 250px !important;
}

.page-item
{
	cursor: pointer;
}

.popover{
	max-width: 100%;
}

/* Footer */
footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0.5rem 0;
	font-size: 80%;
	text-align: center;
	background-color: var(--background-color);
	font-weight: 500;
	border-top: 1px solid var(--border-color);
	height: 30px;
}

footer p{
	margin-bottom: 0;
}

.alert-danger{
	color: #721c24;
	background-color: #ff929c;
	border-color: #ff929c;
}

.modal-lg, .modal-xl {
	max-width: 90% !important;
}

#moreInfoModalContent, #fkModalContent, #chashModalContent, #previewModalContent, #helpModalContent {
	overflow-x: auto; /* x-axis scrolling */
	overflow-y: auto; /* y-axis scrolling */
	-webkit-overflow-scrolling: touch; /* iOS fix */
}

.fa-stack{
	height: 0em;
	line-height: 0em;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: var(--bs-secondary-bg);
	color: #fff;
}

.nav-link {
	color: var(--bs-emphasis-color);
}

.btn-dark {
	background-color: var(--bs-secondary-bg);
}

.btn-info{
	color: #fff;
}

/* Tooltips */
.wt-tooltip{
    display: none;
}
.tooltip-icon{
	clear: both;
	float: left;
	box-shadow: #000 0 0 10px;
	border-radius: 5px;
	width: 64px;
	height: 64px;
}

.tooltip-icon img{
	max-width: 64px;
	max-height: 64px;
}

.tooltip-desc{
	float: left;
	border: 1px solid white;
	min-width: 380px;
	max-width: 680px;
	padding: 6px;
	box-shadow: #000 0 0 10px;
	border-radius: 5px;
	background: rgba(17, 17, 34, 0.90);
	color: white;
	margin-left: 4px;
    font: normal 12px/1.5 Verdana,sans-serif;
    z-index: 10;
}

.tooltip-desc h2{
	font-size: 14px;
	margin: 0;
	line-height: 20px;
}

.tooltip-desc p{
	margin: 0px;
}

.tooltip-desc .yellow{
	color: #ffd200;
}

.tooltip-table{
	width: 100%;
}

.tooltip-table tr td{
	padding: 2px;
}

.tooltip-table tr td.right{
	text-align: right;
}

.tooltip-preview{
    max-width: 380px;
    max-height: 150px;
}

.q0{
	color: #a0a0a0 !important;
}

.q1{
	color: #ffffff !important;
}

.q2{
	color: #1eff00 !important;
}

.q3{
	color: #008dff !important;
}

.q4{
	color: #a335ee !important;
}

.q5{
	color: #ff8000 !important;
}

.q6{
	color: #e6cc80 !important;
}

.q7{
	color: #00ccff !important;
}

.q8{
	color: #00ccff !important;
}

#fktable tr td{
    padding-top: 2px;
    padding-bottom: 2px;
}
/* Mobile Devices */
@media screen and (max-width: 992px) {
	body > .navbar {
		z-index: 5; /* force menu above the content */
	}
}

:root {
	--choices-primary-color: #64B5F6;
	--choices-item-color: #f8f9fa;
	--choices-bg-color: #212529;
	--choices-bg-color-dropdown: #343a40;
	--choices-keyline-color: #495057;
	--choices-bg-color-disabled: #495057;
	--choices-item-disabled-color: #6c757d;
	--choices-disabled-color: #6c757d;
	--choices-highlighted-color: #495057;
	--choices-input-height: 39px;
	--choices-inner-padding: 1px 0px 0px 0px;
}

.choices__list {
	z-index: 9999;
}

.choices__list--dropdown {
	z-index: 9999 !important;
	position: absolute;
}

.choices__list--multiple {
	z-index: 9999;
}